<div class="container-fluid">
    <div class="container rounded">
        <div class="row">
            <div class="col py-3">
                <div> <img class="img-fluid rounded" src="assets/h1.jpg" alt=""></div>
            </div>
            <div class="col py-3">
                <div>
                    <p>Home Details</p>
                    <div class="d-flex py-2">
                        <div>
                            <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                            <p>Land / Plot Areas: <small>10000 Sq. Yard</small></p>
                        </div>
                        <div class="px-5">
                            <p>Property Type : <small>Industrial Land / Plot</small></p>
                            <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div><button class="btn btn-warning">View Details</button></div>
                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluidd py-4">
    <div class="container">
        <div class="py-3">
            <h3>Related Peroperties</h3>
        </div>
        <div class="row services-details">
            <div class="col">
                <div class="card">
                    <div class="services-text">
                        <div>
                            <span> <img rel="preload" as="image" width="75%" height="80%"
                                    src="https://rei.wlimg.com/prop_images/2339960/1166026_1-350x350.jpg"
                                    alt="Discovery & Research">
                            </span>
                        </div>
                        <div>
                            <p class="text-start">Discovery & Research</p>
                            <p>Chatral, Ahmedabad</p>
                            <p class="lh15em">18800 Sq.ft.</p>
                            <p class="large mt5px fw7"><i class="fa fa-inr mr2px"></i> 2.20 Lac </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="services-text">
                        <div>
                            <span> <img rel="preload" as="image" width="75%" height="80%"
                                    src="https://rei.wlimg.com/prop_images/2339960/1166026_1-350x350.jpg"
                                    alt="Discovery & Research">
                            </span>
                        </div>
                        <div>
                            <p class="text-start">Discovery & Research</p>
                            <p>Chatral, Ahmedabad</p>
                            <p class="lh15em">18800 Sq.ft.</p>
                            <p class="large mt5px fw7"><i class="fa fa-inr mr2px"></i> 2.20 Lac </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="services-text">
                        <div>
                            <span> <img rel="preload" as="image" width="75%" height="80%"
                                    src="https://rei.wlimg.com/prop_images/2339960/1166026_1-350x350.jpg"
                                    alt="Discovery & Research">
                            </span>
                        </div>
                        <div>
                            <p class="text-start">Discovery & Research</p>
                            <p>Chatral, Ahmedabad</p>
                            <p class="lh15em">18800 Sq.ft.</p>
                            <p class="large mt5px fw7"><i class="fa fa-inr mr2px"></i> 2.20 Lac </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row services-details py-5">
            <div class="col">
                <div class="card">
                    <div class="services-text">
                        <div>
                            <span> <img rel="preload" as="image" width="75%" height="80%"
                                    src="https://rei.wlimg.com/prop_images/2339960/1166026_1-350x350.jpg"
                                    alt="Discovery & Research">
                            </span>
                        </div>
                        <div>
                            <p class="text-start">Discovery & Research</p>
                            <p>Chatral, Ahmedabad</p>
                            <p class="lh15em">18800 Sq.ft.</p>
                            <p class="large mt5px fw7"><i class="fa fa-inr mr2px"></i> 2.20 Lac </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="services-text">
                        <div>
                            <span> <img rel="preload" as="image" width="75%" height="80%"
                                    src="https://rei.wlimg.com/prop_images/2339960/1166026_1-350x350.jpg"
                                    alt="Discovery & Research">
                            </span>
                        </div>
                        <div>
                            <p class="text-start">Discovery & Research</p>
                            <p>Chatral, Ahmedabad</p>
                            <p class="lh15em">18800 Sq.ft.</p>
                            <p class="large mt5px fw7"><i class="fa fa-inr mr2px"></i> 2.20 Lac </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="services-text">
                        <div>
                            <span> <img rel="preload" as="image" width="75%" height="80%"
                                    src="https://rei.wlimg.com/prop_images/2339960/1166026_1-350x350.jpg"
                                    alt="Discovery & Research">
                            </span>
                        </div>
                        <div>
                            <p class="text-start">Discovery & Research</p>
                            <p>Chatral, Ahmedabad</p>
                            <p class="lh15em">18800 Sq.ft.</p>
                            <p class="large mt5px fw7"><i class="fa fa-inr mr2px"></i> 2.20 Lac </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>