<div class="container-fluid">
    <div class="container py-5">
        <div class="row main-data py-5">
            <div class="col py-5">
                <h1 class="text-start py-2">Wherehouse Website</h1>
                <h5>REAL ESTATE PROJECT</h5>
                <p class="text-start py-2" style="line-height: 160%;">Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Quas error suscipit
                    provident. Ut harum ipsam accusantium aperia vero. Laborum odit amet reiciendis corporis, nam et
                    praesentium voluptates vitae. Quod, molestiae?</p>
                <button routerLink="/contact" class="btn btn-warning py-2">Contact</button>
            </div>
            <div class="col text-end py-5">
                <img class="img-fluid" src="assets/home.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Services We Offer</h1>
        </div>
        <div class="row py-3">
            <div class="col">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h1.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i>  Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h2.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i>  Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h3.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i>  Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h4.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i> Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h3.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i>  Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h2.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i> Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h4.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p><i class="bi bi-bounding-box-circles"></i>  Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p><i class="bi bi-house"></i> Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="card shadow-sm">
                            <img src="assets/h2.jpg" alt="">
                            <div class="card-body">
                                <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                <p><i class="bi bi-bounding-box-circles"></i>  Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                <p><i class="bi bi-house"></i>  Property Type : <small>Industrial Land / Plot</small></p>
                                <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                <div class="d-flex">
                                    <div><button class="btn btn-warning" routerLink="details"><i class="bi bi-eye-fill"></i> View Details</button></div>
                                    <div class="px-3"><button class="btn btn-danger"><i class="bi bi-send"></i> Send Inquiry</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="text-center">
                <h1>Featured Properties</h1>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h9.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <app-contact-us></app-contact-us>
    </div>

 

   <div>
    <router-outlet></router-outlet>
   </div>