<div class="container-fluid">
    <div class="container py-5">
        <div class="row main-data py-5">
            <div class="col py-5">
                <h1 class="text-start py-2">Wherehouse Website</h1>
                <p class="text-start py-2" style="line-height: 160%;">Lorem, ipsum dolor sit amet consectetur
                    adipisicing elit. Quas error suscipit
                    provident. Ut harum ipsam accusantium aperia vero. Laborum odit amet reiciendis corporis, nam et
                    praesentium voluptates vitae. Quod, molestiae?</p>
                <button class="btn btn-warning py-2">Contact</button>
            </div>
            <div class="col text-end py-5">
                <img class="img-fluid" src="assets/home.png" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="text-center">
            <h1>Services We Offer</h1>
        </div>
        <div class="row py-3">
            <div class="col">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h1.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h2.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h3.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h4.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h3.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h2.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4 col-sm-6">
                            <div class="card shadow-sm">
                                <img src="assets/h4.jpg" alt="">
                                <div class="card-body">
                                    <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                    <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                    <p>Property Type : <small>Industrial Land / Plot</small></p>
                                    <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                    <div class="d-flex">
                                        <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                        <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-3 col-md-4 col-sm-6">
                        <div class="card shadow-sm">
                            <img src="assets/h2.jpg" alt="">
                            <div class="card-body">
                                <p><i class="bi bi-geo-alt-fill"></i>&nbsp;<small>Ahemdabad,Shapath Hexa</small></p>
                                <p>Land / Plot Areas:  <small>10000 Sq. Yard</small></p>
                                <p>Property Type : <small>Industrial Land / Plot</small></p>
                                <p><b><i class="bi bi-currency-rupee"></i><small> 27.50 Cr.</small> </b></p>
                                <div class="d-flex">
                                    <div><button class="btn btn-warning" routerLink="details">View Details</button></div>
                                    <div class="px-3"><button class="btn btn-danger">Send Inquiry</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3">
        <div class="row">
            <div class="text-center">
                <h1>Featured Properties</h1>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h9.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 col-sm-6 py-2">
                <div class="card">
                    <img src="assets/h1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-4">
        <div class="text-center">
            <h3>Our Contact</h3>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-6 col-md-6 col-sm-12 text-center">
                <img src="assets/contact-page.png" width="100%" height="auto" alt="">
            </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                  <form id="contact-form" method="post" action="" role="form">
                  <div class="messages"></div>
                  <div class="controls">
                    <div class="row py-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_name">Firstname *</label>
                          <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_lastname">Lastname *</label>
                          <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row py-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_email">Email *</label>
                          <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="form_phone">Phone</label>
                          <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 py-3">
                        <div class="form-group">
                          <label for="form_message">Message *</label>
                          <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required data-error="Please,leave us a message."></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <input type="submit" class="btn btn-success btn-send" value="Send message">
                      </div>
                    </div>
                  </div>
                  </form>
              </div>
            <!-- <div class="col-xl-6 col-md-6 col-sm-12">
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">First name</label>
                        <input type="text" class="form-control" id="validationCustom01" value="M" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="validationCustom02" value="R" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">City</label>
                        <input type="text" class="form-control" id="validationCustom03" required>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">State</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Choose...</option>
                            <option value="Gujrat">Gujarat</option>
                            <option value="Rajsthan">Rajsthan</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form>
            </div> -->
        </div>
    </div>

 

   <div>
    <router-outlet></router-outlet>
   </div>