<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="box">
            <form class="py-3 px-4" *ngIf="paswordShow">
                <div class="py-2">
                    <h3>FORGET YOUR PASSWORD</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" (click)="clickMe()" class="btn btn-primary">Reset Password</button>
            </form>
            <form class="py-3 px-4" *ngIf="otpShow">
                <div class="py-2">
                    <h3>FORGET YOUR PASSWORD</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Otp</label>
                    <input type="number" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary" (click)="verify()">Submit</button>
            </form>
            <form class="py-3 px-4" *ngIf="hide">
                <div class="py-2">
                    <h3>SET NEW PASSWORD</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Old Password</label>
                    <input type="password" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">New Password</label>
                    <input type="password" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Confirm New Password</label>
                    <input type="password" min="1" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
