<div class="container-fluid py-2">
    <div class="container py-5">
        <div class="box">
            <form class="py-3 px-4" [formGroup]="registerForm" (ngSubmit)="registerData(registerForm)">
                <div class="py-2">
                    <h3>REGISTER PAGE</h3>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                    <input type="fname" class="form-control" formControlName="fname" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="lname" class="form-control" formControlName="lname" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p class="py-3">
                    <span>Allready Register User<a href="/login"> click here</a></span>
                 </p>
              </form>
        </div>
    </div>
</div>