<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="box">
            <form class="py-3 px-4">
                <div class="py-2">
                    <h3>REGISTER PAGE</h3>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p class="py-3">
                    <span>Allready Register User<a href="/login"> click here</a></span>
                 </p>
              </form>
        </div>
    </div>
</div>